.navbar {
    padding: 20px;
    height: 80px;
}

.image-with-text {
    width: 234556px;
    height: auto;
    left: 0px;
    right: 0px;
    margin-bottom: -192px;
}
.image-fluid{
    width: 13400;
}

.image-with-text .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 495px;
    height: 230px;
    left: 150px;
    top: 181px;

}

.image-with-text .text h2 {
    width: 489px;
    height: 150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 75px;
}

.image-with-text .text p {
    width: 495px;
    height: 60px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.hero  {
    margin-top: 200px;
}

.container h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #314739;
}

.container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #565A57;
}

.card .col-md-4 {
    width: 364px;
    height: 444px;
    border: 2px solid #34B34C;
    border-radius: 16px;

}

.card-img-top {
    padding: 16px 16px 24px;
    gap: 10px;
    width: 332px;
    height: 260px;
    background: #FFFFFF;
    border-radius: 16px;
}

.card-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
 
}

.my-container {
    background-color: #34B34C;
    padding: 20px;
    width: 1340px;
    height: 236px;
    margin-top: 20px;
}

.my-container h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    text-align: center;
}

.my-container p {
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

.btn-my-color {
    padding: 12px 40px;
    gap: 10px;
    width: 210px;
    height: 38px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.card-left p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 542px;
    height: 96px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 375px;
    height: 64px;
    background-color: #34B34C;
    margin-left: 100px;

}

.text-para p {
    width: 542px;
    height: 96px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 375px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-left: 100px;

}

.container p {
    color: #FFFFFF;
    align-items: center;
}

.card-left-1 p {
    padding: 16px;
    width: 375px;
    background: rgba(52, 179, 76, 0.05);
    border-radius: 0px 0px 12px 12px;
    color: black;
    margin-top: -21px;
    align-items: center;
    margin-left: 100px;

}

.card-left-2 p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 542px;
    height: 96px;
    left: 0px;
    border-radius: 12px;
    width: 375px;
    height: 64px;
    background-color: #34B34C;
    align-items: center;
    margin-left: 100px;

}

.card-left-3 p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 542px;
    height: 96px;
    left: 0px;
    border-radius: 12px;
    width: 375px;
    height: 34px;
    padding: 2px;
    background-color: #34B34C;
    align-items: center;
    margin-top: -10px;
    margin-left: 100px;

}

.card-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.img-1 {
    width: 353px;
    height: auto;
    margin-top: -416px;
    margin-left: -60px;
    border-radius: 12px;
}

.my-container-1 {
    background-color: #34B34C;
    padding: 20px;
    width: 1340px;
    height: 200px;
    margin-top: 20px;
    color: #FFFFFF;
}

.carousel-inner {
    color: black;

}

.testonomial {
    margin-top: 100px;
    width: 50%;
    height: auto;
    border: 2px solid #34B34C;
    border-radius: 12px;
    margin-left: 360px;

}

.footer-1 {
    background-color:
        #314739;
    padding: 20px;
    width: 1340px;
    height: 200px;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.line {
    margin-top: 58px;
    width: 75%;
    color: #747474;
}
.my-container-3, .hero-text {
    padding-left: 40px;
    padding-top: 40px;
    width: 1365px;
    height: 200px;
    margin-top: 0px;
    background-color: #f3f3f3;
}
.dropdown{
    display: flex;
    justify-content: right;
}

